.header {
  background-color: #fff;
  padding: 0 7.9rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.menu {
  height: 4.6rem;
  display: flex;
  justify-content: space-between;
}

.menu__options {
  display: flex;
}

.menu__links {
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-weight: 700;
  color: #a7aaad;
  transition: all .3s ease;
  border-bottom: .2rem solid transparent;
}

.menu__links:hover {
  color: #24292e;
  border-bottom: .2rem solid #24292e;
}

.menu__links i {
  margin-right: .3rem;
}

.menu__user {
  display: flex;
}

.menu__form {
  display: flex;
  align-self: center;
  margin-right: 2rem;
  align-items: center;
  border-radius: 3rem;
  height: 2.5rem;
  position: relative;
}

.menu__input {
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 3rem;
  border: .2rem solid transparent;
  background-color: #f5f8fa;
  transition: all .3s;
}

.menu__input:focus {
  background-color: #fff;
  border: .2rem solid #24292e;
}

.menu__form > i {
  position: absolute;
  right: 1rem;
}

.menu__profile {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.menu__profile > img {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
}

.menu__profile-menu {

}

.menu__finish {
  text-decoration: none;
  color: #24292e;
  font-weight: 700;
  align-self: center;
  font-size: 1.2rem;
}

