
<ul>
  <li>
    <a (click)="changeRoute('/')" style="cursor:pointer">
      <fa-icon [icon]="['fas','home']" size="1.8x"></fa-icon>
      <span>Home</span>
    </a>
  </li>
  <li>
    <a (click)="changeRoute('/perfil')" style="cursor:pointer">
      <fa-icon [icon]="['fas','bell']" size="1.8x"></fa-icon>
      <span>Notifications</span>
    </a>
  </li>
  <li>
    <a (click)="changeRoute('/events')" style="cursor:pointer">
      <fa-icon [icon]="['fas','calendar']" size="1.8x"></fa-icon>
      <span>Events</span>
    </a>
  </li>
</ul>