<div class="home__extra">
  <div class="home__extra-title">
    <h4>Quieres seguir? <a href="">Refrescar</a> <a href="">Ver todos</a></h4>
  </div>
  <div class="home__extra-list">
    <div class="home__extra-item">
      <div class="home__extra-photo">
        <img  height="35" width="35" src="https://media-cdn.tripadvisor.com/media/photo-s/0e/c5/b5/dc/restaurante-los-galenos.jpg" alt="">
      </div>
      <div class="home__extra-content">
        <h5>CGTN <span>@CGTNOfficial</span></h5>
        <button>Seguir</button>
      </div>
    </div>
    <div class="home__extra-item">
      <div class="home__extra-photo">
        <img height="35" width="35"
          src="https://media-cdn.tripadvisor.com/media/photo-s/0e/c5/b5/dc/restaurante-los-galenos.jpg" alt="">
      </div>
      <div class="home__extra-content">
        <h5>CGTN <span>@CGTNOfficial</span></h5>
        <button>Seguir</button>
      </div>
    </div>
    <div class="home__extra-item">
      <div class="home__extra-photo">
        <img height="35" width="35"
          src="https://media-cdn.tripadvisor.com/media/photo-s/0e/c5/b5/dc/restaurante-los-galenos.jpg" alt="">
      </div>
      <div class="home__extra-content">
        <h5>CGTN <span>@CGTNOfficial</span></h5>
        <button>Seguir</button>
      </div>
    </div>
  </div>
</div>