<div class="event__next">
  <h4 class="event__next-title">Proximos Eventos</h4>
  <div class="event__next-footer">
    <p>
      No tienes ningún evento próximamente.
    </p>
    <a href="#"><i class="fas fa-plus"></i> <span>Crear Evento</span></a>
  </div>
</div>

<div class="event__like">
  <h4 class="event__like-title">Eventos que te pueden gustar</h4>
  <div class="event__like-item">
    <img src="https://scontent.faqp2-1.fna.fbcdn.net/v/t1.0-0/p235x350/50012372_275203846482039_7603093661638721536_n.jpg?_nc_cat=107&_nc_ht=scontent.faqp2-1.fna&oh=ea76a3fd45df26e0467a418c856a6e54&oe=5D302439" alt="">
    <div class="event__like-content">
      <div class="event__like-date">
        <span>ABR</span>
        <span>25</span>
      </div>
      <div class="event__like-text">
        <h5>CONFERENCIA EMPRESARIAL CON YUDIS LONZOY</h5>
        <p>Jue., 25 de abr. · Universidad Andina Néstor Cáceres Velásquez
            683 personas interesadas</p>
      </div>
    </div>
    <div class="event__like-footer">
      <a href="#"><i class="far fa-star"></i> Me interesa</a>
    </div>
  </div>
</div>