<div class="event">
  <div class="event__left">
      <app-list-event></app-list-event>
  </div>
  <div class="event__center">
    <app-view-event></app-view-event>
  </div>
  <div class="event__right">
    <div class="event__search">
      <h4 class="event__search-title">Buscar Eventos</h4>
      <div class="event__grid">
        <a href="#" class="event__grid-item">
          <i class="fas fa-cloud-sun"></i>
          <span>Hoy</span>
        </a>
        <a href="#" class="event__grid-item">
          <i class="fas fa-birthday-cake"></i>
          <span>Mañana</span>
        </a>
        <a href="#" class="event__grid-item">
          <i class="fas fa-cloud-sun-rain"></i>
          <span>Esta semana</span>
        </a>
        <a href="#" class="event__grid-item">
          <i class="fas fa-calendar-day"></i>
          <span>Elegir fecha</span>
        </a>
      </div>
      <div class="event__search-options">
        <a href="#"><i class="fas fa-mug-hot"></i >Arte</a>
        <a href="#"><i class="fas fa-trophy"></i> Causas</a>
        <a href="#"><i class="fas fa-splotch"></i> Comedia</a>
        <a href="#"><i class="fas fa-mitten"></i> Manualidades</a>
        <a href="#"><i class="fas fa-person-booth"></i> Danza</a>
        <a href="#"><i class="fas fa-fill-drip"></i> Bebidas</a>
      </div>
    </div>
  </div>
</div>