<div class="home__options">
  <h4 class="home__title-recomendation">Recomendaciones para ti</h4>
  <div class="home__list">
    <div class="home__item">
      <a href="">Gustitos del cura</a>
      <span>100 Recomendaciones</span>
    </div>
    <div class="home__item">
      <a href="">Gustitos del cura</a>
      <span>100 Recomendaciones</span>
    </div>
    <div class="home__item">
      <a href="">Gustitos del cura</a>
      <span>100 Recomendaciones</span>
    </div>
    <div class="home__item">
      <a href="">Gustitos del cura</a>
      <span>100 Recomendaciones</span>
    </div>
    <div class="home__item">
      <a href="">Gustitos del cura</a>
      <span>100 Recomendaciones</span>
    </div>
    <div class="home__item">
      <a href="">Gustitos del cura</a>
      <span>100 Recomendaciones</span>
    </div>
    <div class="home__item">
      <a href="">Gustitos del cura</a>
      <span>100 Recomendaciones</span>
    </div>
    <div class="home__item">
      <a href="">Gustitos del cura</a>
      <span>100 Recomendaciones</span>
    </div>
  </div>
</div>